streamlit>=1.40.0
scikit-learn>=1.4.0
pandas>=2.0.0
numpy>=1.26.0
joblib>=1.3.0
onnxruntime>=1.17.0
postura_pose @ git+https://github.com/JasonNicholas07/postura-posture-detection.git@main#subdirectory=postura_pose